{
  "extends": "eslint-config-google",

  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

  "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
  }]
}
