<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Cyclokitty's Super Duper URL Shortener</h1>

    <p>
      In the address bar above, paste a web address after the "/" and if it is a valid URL you will get back a shorter URL.
    </p>

  </body>
</html>
