<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Cyclokitty's Super Duper URL Shortener</h1>

    <p>
      Save long, unwieldly URLs and get back a nice, fresh link.

      Just add /new/ and your awfully hard to remember URL at the end of the address bar.
    </p>
    <p>
      Retrieve your saved URLs by adding /db/ and your saved URL and you'll be quickly re-directed to your saved URL.
    </p>
    <p>
        The github link for this repo is located <a href='https://github.com/Cyclokitty/short-url-service' target='_blank'>HERE</a>
    </p>

    <p>
      If you enjoyed this webpage, click <a href='https://cyclokitty.github.io' target='_blank'>THIS</a> for more of my web development projects.
    </p>

  </body>
</html>
